<html>
<head>
	<title>聊天室</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
	<link rel="stylesheet" href="../../public/css/bootstrap.min.css" type="text/css" media="screen" charset="utf-8">
	<link rel="stylesheet" href="../../public/css/style.css" type="text/css" media="screen" charset="utf-8">
	<link rel="stylesheet" href="../../public/css/font-awesome.css">
	<link rel="stylesheet" href="../../public/css/animate.css">
	<!--[if IE 7]>
			  <link rel="stylesheet" href="http://www.chatib.com/assets/css/font-awesome-ie7.min.css">
			<![endif]-->
</head>

<body>